// Entry point for your Sass build

body {
  margin: 0;
  padding: 0;
  display: flex;
}

.sidebar {
  padding: 10px;
  background-color: #ccc;
  height: calc(100vh - 20px);
  width: 300px;
}

.content {
  padding: 10px;
  background-color: #eee;
  flex: 1;
}
